<!DOCTYPE html>
<html>
	{% include "head.html" ignore missing%}
	<body>
        {% include "navBar.html" ignore missing%}
		<div class="container col-md-10">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2>Filter Player <small> {{ seasonDisplay }} </small></h2>
				</div>

				<div class="panel-body">
                    <form role="form"  class="form-inline" action="/filterResult?season={{ season }}" method="post">
{#                        constraint 1#}
                        <div id = "filterform" >
                        <div class="form-group col-sm-4">
                            <label for="attribute1">Attribute:</label>
                            <select class="form-control" id="attribute1" name="attribute1">
                                <option value="points">Points</option>
                                <option value="totalRebounds">Rebounds</option>
                                <option value="assists">Assists</option>
                                <option value="steals">Steals</option>
                                <option value="blocks">Blocks</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="compare1">Compare:</label>
                            <select class="form-control" id="compare1" name="compare1">
                                <option value=">=">Great Than</option>
                                <option value="<=">Less Than</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="stats1">Stats:</label>
                            <input type="text" class="form-control" placeholder="Enter a number" id="stats1" name="stats1">
                        </div>
                   <!--      <div class="form-group col-sm-2">
                            <p id = "add_filter" class="btn btn-default pull-left">Add Filter</p>
                        </div> -->
                        <input type="text" id="nval" name = "nval" value = "1" style="display:none">
                        </div>
{#                        constraint 2#}
                        <!-- <div class="form-group col-sm-4">
                            <label for="attribute2">Attribute:</label>
                            <select class="form-control" id="attribute2" name="attribute2">
                                <option value="points">Points</option>
                                <option value="totalRebounds">Rebounds</option>
                                <option value="assists">Assists</option>
                                <option value="steals">Steals</option>
                                <option value="blocks">Blocks</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="compare2">Compare:</label>
                            <select class="form-control" id="compare2" name="compare2">
                                <option value=">=">Great Than</option>
                                <option value="<=">Less Than</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="stats2">Stats:</label>
                            <input type="text" class="form-control" placeholder="Enter a number" id="stats2" name="stats2">
                        </div>
{#                        constraint 3#}
                        <div class="form-group col-sm-4">
                            <label for="attribute3">Attribute:</label>
                            <select class="form-control" id="attribute3" name="attribute3">
                                <option value="points">Points</option>
                                <option value="totalRebounds">Rebounds</option>
                                <option value="assists">Assists</option>
                                <option value="steals">Steals</option>
                                <option value="blocks">Blocks</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="compare3">Compare:</label>
                            <select class="form-control" id="compare3" name="compare3">
                                <option value=">=">Great Than</option>
                                <option value="<=">Less Than</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="stats3">Stats:</label>
                            <input type="text" class="form-control" placeholder="Enter a number" id="stats3" name="stats3">
                        </div> -->
                        <div class="form-group col-sm-12"></div><div class="form-group col-sm-12"></div><div class="form-group col-sm-12"></div>
                        <div>
                        <!-- <div class="form-group col-sm-2"></div> -->
                        <div class="form-group col-sm-1"> <p id = "add_filter" class="btn btn-success pull-left">Add Filter</p></div>
                        <div class="form-group col-sm-11"> <p id = "delete_filter" class="btn btn-success pull-left">Delete Filter</p></div>
                        <div class="form-group col-sm-12"></div><div class="form-group col-sm-12"></div><div class="form-group col-sm-12"></div>
                        <div class="form-group col-sm-2"> <button type="submit" class="btn btn-default pull-left">Submit</button></div>
                        </div>
                        <!-- <button type="submit" class="btn btn-default pull-left">Submit</button> -->
                    </form>
				</div>
			</div>
		</div>

        <div class="container col-md-2">
            <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{ seasonDisplay }} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="/filterPlayer?season=00_01">2000-01</a></li>
                <li><a href="/filterPlayer?season=01_02">2001-02</a></li>
                <li><a href="/filterPlayer?season=02_03">2002-03</a></li>
                <li><a href="/filterPlayer?season=03_04">2003-04</a></li>
                <li><a href="/filterPlayer?season=04_05">2004-05</a></li>
                <li><a href="/filterPlayer?season=05_06">2005-06</a></li>
                <li><a href="/filterPlayer?season=06_07">2006-07</a></li>
                <li><a href="/filterPlayer?season=07_08">2007-08</a></li>
                <li><a href="/filterPlayer?season=08_09">2008-09</a></li>
                <li><a href="/filterPlayer?season=09_10">2009-10</a></li>
                <li><a href="/filterPlayer?season=10_11">2010-11</a></li>
                <li><a href="/filterPlayer?season=11_12">2011-12</a></li>
                <li><a href="/filterPlayer?season=12_13">2012-13</a></li>
                <li><a href="/filterPlayer?season=13_14">2013-14</a></li>
                <li><a href="/filterPlayer?season=14_15">2014-15</a></li>
            </ul>
            </div>
		</div>
	</body>

<script>
var n = 1
    $("#add_filter").click(function(){
        n = n+1;
        $("#filterform").prepend("<div id=\"appenddiv3"+n+"\" class=\"form-group col-sm-4\"></div>");
        $("#appenddiv3"+n).append("<label for=\"stats1\">Stats:&nbsp</label>");
        $("#appenddiv3"+n).append("<input type=\"text\" class=\"form-control\" placeholder=\"Enter a number\" id=\"stats"+n+"\" name=\"stats"+n+"\"><br>");

        $("#filterform").prepend("<div id=\"appenddiv2"+n+"\" class=\"form-group col-sm-4\"></div>");
        $("#appenddiv2"+n).append("<label for=\"compare1\">Compare:&nbsp</label>");
        $("#appenddiv2"+n).append("<select class=\"form-control\" id=\"compare"+n+"\" name=\"compare"+n+"\"><option value=\">=\">Great Than</option><option value=\"<=\">Less Than</option></select><br>");
        $("#filterform").prepend("<div id=\"appenddiv1"+n+"\" class=\"form-group col-sm-4\"></div>");
        $("#appenddiv1"+n).append("<label for=\"attribute1\">Attribute:&nbsp</label>");
        $("#appenddiv1"+n).append("<select class=\"form-control\" id=\"attribute"+n+"\" name=\"attribute"+n+"\"><option value=\"points\">Points</option><option value=\"totalRebounds\">Rebounds</option><option value=\"assists\">Assists</option><option value=\"steals\">Steals</option><option value=\"blocks\">Blocks</option></select><br>");
        $("#nval").attr("value", n);
    });

    $("#delete_filter").click(function(){
        $("#appenddiv1"+n).remove();
        $("#appenddiv2"+n).remove();
        $("#appenddiv3"+n).remove();
        n=n-1; 
        $("#nval").attr("value", n);
    }); 
  </script>

</html>